
#navbar{
    width: 100%;
    margin-bottom: 50px;
    padding: 0%;
   
}
.jumbotron{
    margin-top: 50px;
    margin-bottom: 50px;
    
}

h6{
    padding-top: 20px;
}

.card-section{
    display: flex;
    
    justify-content: space-around;
    padding-left: -55px;
}
li.item{
    list-style-type: none;
}
/*page_produitALT*/


#product_card{
   /* border: 1px solid burlywood;*/
    height: 600px;
    background-color: #ddd;
}
.innerCard{
    display: flex;
}
.card{
    margin-left: 50px;
}
.imgTopCard{
    height: 95%;
    width: 95%;
    object-fit: cover;
}
.topImg{
    height: 400px;
    object-fit: cover;
    padding-top: 25px;
    
}

 /* Dropdown Button */
 .dropbtn {
    background-color: #0275d8 ;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
margin-left: 71px;
width: 245px;
border-radius: .3em;
margin-top: 30px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 


.itemCustom{
    margin-top: 7px;
    display: flex;
    width: 730px;
    justify-content: space-between;
    
}
.imgCustom{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.btn-toolbar{
    margin-left: 284px;
    margin-top: 50px;
}
.productInfo{
padding-top: 25px;
margin-left: -20px;
}
hr.solid{
    border-top: 3px solid #ddd;
    margin-top: 20px;
    width: 131%;
    margin-left: -170px;
}
.crossSelling{
    margin-top: 20px;
}
.crossProducts{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 75px;
}

/*Avis clients*/

#avisClient{
    display: flex;
    justify-content: space-between;
}
.starNotation{
    display: flex;
}
/*Reassurance*/
.reassurance{
    display:flex;
    justify-content: space-evenly;
}
.deliv{
    margin-left: -37px;
}
.return{
    margin-left: -15px;
}
.lock{
    margin-left:-43px;
}
/*Media Section*/
.mediaSection{
    display: flex;
    justify-content: space-evenly;
    
}

#footerProduct{
  
}





