
#navbar{
    width: 100%;
    margin-bottom: 50px;
    padding: 0%;  
}
#navbarFlex{
    display: flex;
    justify-content: space-between;
}

.title{
    padding-left: 50%;
}

.bi-bag{
    font-size: 30px;
    margin-left: 1050px;
}
.jumbotron{
    margin-top: 50px;
    margin-bottom: 50px;
    
}

h6{
    padding-top: 20px;
}

.card-section{
    display: flex;
    
    justify-content: space-around;
    padding-left: -55px;
}

#items{
    
    width: 96%;
}

li.item{
    list-style-type: none;
}
/*page_produitALT*/


#product_card{
   /* border: 1px solid burlywood;*/
    height: 600px;
    background-color: #ddd;
}
.innerCard{
    display: flex;
}
.card{
    margin-left: 50px;
}
.imgTopCard{
    height: 95%;
    width: 95%;
    object-fit: cover;
}
.topImg{
    height: 400px;
    object-fit: cover;
    padding-top: 25px;
    
}

#pet-select{
    margin-left: 15px;
}
.itemCustom{
    margin-top: 7px;
    display: flex;
    width: 730px;
    justify-content: space-between;
    
}
.imgCustom{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.btn-toolbar{
    margin-left: 284px;
    margin-top: 50px;
}
.productInfo{
padding-top: 25px;
margin-left: -20px;
}
hr.solid{
    border-top: 3px solid #ddd;
    margin-top: 20px;
    width: 100%;
    
}
.crossSelling{
    margin-top: 20px;
}
.crossProducts{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 75px;
}

/*Avis clients*/

#avisClient{
    display: flex;
    justify-content: space-around;
}
.starNotation{
    display: flex;
}
/*Reassurance*/
.reassurance{
    display:flex;
    justify-content: space-evenly;
}
.deliv{
    margin-left: -37px;
}
.return{
    margin-left: -15px;
}
.lock{
    margin-left:-43px;
}
/*Media Section*/
.mediaSection{
    display: flex;
    justify-content: space-evenly;
    
}

#footerProduct{
  
}





